.about {
  background: #ffffff;
}

.about .container {
  display: flex;
  justify-content: space-between;
  padding: 120px 20px 145px 20px;

  @include vp-1023 {
    padding: 91px 45px 64px 45px;
  }

  @include vp-767 {
    @media (max-width: ($vp-768 - 1px)) {
      flex-direction: column;
      padding: 57px 15px 85px 15px;
    }
  }
}

.about__content {
  width: 512px;
  flex-direction: column;
  padding: 56px 0 0 0;

  @include vp-1023 {
    width: 48%;
    margin-right: 31px;
    padding: 0;
  }

  @include vp-767 {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

.about__content h2,
p {
  margin: 0 0 40px 0;

  @include vp-1023 {
    margin: 0 0 30px 0;
  }
}

.about__content h2 {
  @include font(28px, 150%, 600);
  margin: 0 0 24px 0;

  @include vp-1023 {
    @include font(26px, 140%, 600);
    width: 70.3%;
    margin: 0 0 15px 0;
  }

  @include vp-767 {
    @include font(24px, 140%, 600);
  }
}

.about__content p {
  @include font(16px, 150%, 400);

  @include vp-767 {
    margin: 0 0 24px 0;
  }
}

.about__wrapper-image {
  @include vp-1023 {
    width: 49%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.about__wrapper-image img {
  width: 100%;
  height: auto;

  @include vp-1023 {
    padding: 9px 5px 0 0;
  }

  @include vp-767 {
    @media (max-width: ($vp-768 - 1px)) {
      padding: 0;
    }
  }
}
