.advantages {
  background: url("../img/background/advantages-backg@1x.jpg");
  background-repeat: no-repeat;
  background-color: #d7ebff;
  background-size: cover;

  @media (min-width: 320px) {
    @include retina {
      background: url("../img/background/advantages-backg@2x.jpg") no-repeat;
      background-size: cover;
    }

    @supports (background-image: url("../img/background/advantages-backg@1x.webp")) {
      background-image: url("../img/background/advantages-backg@1x.webp");

      @include retina {
        background: url("../img/background/advantages-backg@2x.webp") no-repeat;
        background-size: cover;
      }
    }
  }
}

.advantages .container {
  padding: 110px 89px 119px 89px;

  @include vp-1023 {
    padding: 90px 45px 100px 45px;
  }

  @include vp-767 {
    padding: 56px 15px 66px 15px;
  }
}

.advantages h2 {
  @include font(28px, 150%, 600);

  text-align: center;
  width: 228px;
  margin: 0 auto 49px;

  @include vp-1023 {
    @include font(26px, 150%, 600);
    width: 212px;
    margin: 0 auto 49px;
  }

  @include vp-767 {
    @include font(24px, 150%, 600);
    margin: 0 auto 31px;
    width: 196px;
  }
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.advantages__item {
  background: $second-color;
  padding: 81px 42px 26px 30px;

  @include vp-1023 {
    padding: 70px 15px 0 20px;
  }

  &--liner {
    padding: 81px 42px 0 30px;
    background-image: url("../img/svg/liner.svg");
    background-repeat: no-repeat;
    background-position: 30px 26px;

    @include vp-1023 {
      background-size: 21px 26px;
      background-position: 20px 25px;
    }

    @include vp-767 {
      padding: 70px 22px 6px 20px;
    }
  }

  &--all-inclusive {
    background-image: url("../img/svg/all-inclusive.svg");
    background-repeat: no-repeat;
    background-position: 30px 30px;

    @include vp-1023 {
      background-size: 27px 26px;
      background-position: 20px 25px;
    }

    @include vp-767 {
      padding: 70px 15px 5px 20px;
    }
  }

  &--zadiac {
    padding: 81px 32px 0 30px;
    background-image: url("../img/svg/zodiac.svg");
    background-repeat: no-repeat;
    background-position: 30px 30px;

    @include vp-1023 {
      background-size: 36px 26px;
      background-position: 20px 25px;
      padding: 71px 20px 0 19px;
    }

    @include vp-767 {
      padding: 70px 15px 5px 20px;
    }
  }
}

.advantages__item h3 {
  margin: 0 0 10px 0;

  @include font(18px, 150%, 500);

  @include vp-1023 {
    line-height: 140%;
  }

  @include vp-767 {
    width: 69%;
  }
}

.advantages__item p {
  margin: 0 0 20px 0;

  @include font(14px, 140%, 400);

  @include vp-767 {
    margin-bottom: 15px;
  }
}

.advantages__item--zadiac h3 {
  @include vp-1023 {
    margin-bottom: 19px;
  }

  @include vp-767 {
    margin-bottom: 12px;
  }
}

.advantages__item-title-br {
  display: none;

  @include vp-1023 {
    display: block;
  }
}
