.advantages {
  background: url("../img/background/advantages-backg@1x.jpg");
  background-repeat: no-repeat;
  background-color: #d7ebff;
  background-size: cover;

  @include retina {
    background: url("../img/background/advantages-backg@2x.jpg") no-repeat;
    background-size: cover;
  }
}

.advantages .container {
  padding: 110px 20px 119px 20px;

  @include vp-1023 {
    padding: 90px 45px 100px 45px;
  }

  @include vp-767 {
    padding: 56px 15px 63px 15px;
  }
}

.advantages h2 {
  @include font(28px, 150%, 600);

  text-align: center;
  width: 228px;
  margin: 0 auto 49px;

  @include vp-1023 {
    @include font(26px, 150%, 600);
    width: 212px;
    margin: 0 auto 49px;
  }

  @include vp-767 {
    @include font(24px, 150%, 600);
    margin: 0 auto 31px;
    width: 196px;
  }
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;

  @include vp-1023 {
    column-gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: none;
    grid-template-rows: repeat(3, auto);
    row-gap: 30px;
  }
}

.advantages__item {
  position: relative;
  background: $second-color;
  padding: 81px 42px 26px 30px;

  @include vp-1023 {
    padding: 71px 15px 0 20px;
  }

  &--liner {
    padding: 81px 42px 0 30px;

    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: 30px;
      background: url("../img/svg/liner.svg") no-repeat;
      width: 27px;
      height: 32px;

      @include vp-1023 {
        @media (max-width: ($vp-1024 - 1px)) {
          top: 26px;
          left: 19px;
          background-size: 82% 79%;
        }
      }

      @include vp-767 {
        @media (max-width: ($vp-768 - 1px)) {
          background-size: 75% 80%;
        }
      }
    }

    @include vp-767 {
      @media (max-width: ($vp-768 - 1px)) {
        padding: 70px 22px 11px 20px;
      }
    }
  }

  &--all-inclusive {
    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: 30px;
      background: url("../img/svg/all-inclusive.svg") no-repeat;
      width: 38px;
      height: 32px;

      @include vp-1023 {
        @media (max-width: ($vp-1024 - 1px)) {
          top: 25px;
          left: 19px;
          background-size: 76% 87%;
        }
      }

      @include vp-767 {
        @media (max-width: ($vp-768 - 1px)) {
          background-size: 65% 77%;
        }
      }
    }

    @include vp-767 {
      @media (max-width: ($vp-768 - 1px)) {
        padding: 70px 47px 0 20px;
      }
    }
  }

  &--zadiac {
    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: 30px;
      background: url("../img/svg/zodiac.svg") no-repeat;
      width: 44px;
      height: 32px;

      @include vp-1023 {
        @media (max-width: ($vp-1024 - 1px)) {
          top: 26px;
          left: 20px;
          background-size: 80% 82%;
        }
      }

      @include vp-767 {
        @media (max-width: ($vp-768 - 1px)) {
          background-size: 80% 82%;
        }
      }
    }

    padding: 81px 32px 0 30px;

    @include vp-1023 {
      @media (max-width: ($vp-1024 - 1px)) {
        padding: 71px 20px 0 19px;
      }
    }
  }
}

.advantages__item > .advantages__item-title {
  margin: 0 0 10px 0;

  @include vp-767 {
    @media (max-width: ($vp-768 - 1px)) {
      width: 176px;
    }
  }
}

.advantages__item-title {
  @include font(18px, 150%, 500);

  @include vp-1023 {
    @media (max-width: ($vp-1024 - 1px)) {
      @include font(18px, 140%, 500);
      margin: 0 0 10px 0;
    }
  }

  @include vp-767 {
    @media (max-width: ($vp-768 - 1px)) {
      margin: 0 0 10px 0;
    }
  }

  &--all-inclusive {
    width: 100%;
    margin: 0 0 9px 0;

    @include vp-767 {
      @media (max-width: ($vp-768 - 1px)) {
        width: 176px;
      }
    }
  }

  &--zadiac {
    width: 100%;
    margin: 0 0 10px 0;

    @include vp-1023 {
      @media (max-width: ($vp-1024 - 1px)) {
        margin: 0 0 20px 0;
      }
    }

    @include vp-767 {
      @media (max-width: ($vp-768 - 1px)) {
        width: 63%;
      }
    }
  }
}

.advantages__item-title-br {
  display: none;

  @include vp-1023 {
    @media (max-width: ($vp-1024 - 1px)) {
      display: block;
    }
  }
}

.advantages__item-description {
  @include font(14px, 140%, 400);

  margin: 0 0 20px 0;

  @include vp-1023 {
    @media (max-width: ($vp-1024 - 1px)) {
      @include font(14px, 140%, 400);
      margin: 0 0 22px 0;
    }
  }

  &--liner {
    @include vp-767 {
      @media (max-width: ($vp-768 - 1px)) {
        margin: 0 0 9px 0;
      }
    }
  }

  &--all-inclusive {
    width: 100%;
  }
}
