.feedback {
  background-image: url("../img/background/form-bkg.jpg");
  background-repeat: no-repeat;
  background-color: #afd0fd;
  background-size: cover;
  background-position: 0 50%;

  @media (min-width: 320px) {
    @include retina {
      background-image: url("../img/background/form-bkg.jpg") no-repeat;
      background-size: cover;
    }

    @supports (background-image: url("../img/background/form-bkg.webp")) {
      background-image: url("../img/background/form-bkg.webp");

      @include retina {
        background-image: url("../img/background/form-bkg@2x.webp");
      }
    }
  }

  @include vp-1023 {
    background-position: 87% 0;
  }

  @include vp-767 {
    background-position: 54.5%;
  }
}

.feedback .container {
  padding: 50px 89px;

  @include vp-1023 {
    padding: 89px 45px 0 45px;
  }

  @include vp-767 {
    padding: 59px 15px 64px 15px;
  }
}

.feedback__wrapper {
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include vp-1023 {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
}

.feedback__content {
  width: 54%;
  padding: 163px 0 0 0;

  @include vp-1023 {
    width: 419px;
    padding: 0;
    text-align: center;
  }

  @include vp-767 {
    width: 88.7%;
  }
}

.feedback__content h2 {
  @include font(40px, 150%, 700);

  margin: 0 0 8px 0;

  @include vp-1023 {
    @include font(34px, 150%, 700);

    margin: 0 0 4px 0;
  }

  @include vp-767 {
    @include font(24px, 130%, 700);

    margin: 0 0 12px 0;
  }
}

.feedback__content-title-br {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.feedback__content p {
  @include font(18px, 150%, 400);

  margin: 0 0 30px 0;
  width: 61%;

  @include vp-1023 {
    width: 86%;
    margin: 0 auto 52px;
  }

  @include vp-767 {
    @include font(16px, 140%, 400);

    width: 100%;
    margin: 0 0 34px 0;
  }
}
