.footer {
  background-color: $primary-color;
}

.footer .container {
  display: flex;
  align-items: center;
  padding: 50px 20px;

  @include vp-1023 {
    @media (max-width: ($vp-1024 - 1px)) {
      padding: 42px 45px 46px 45px;
    }
  }

  @include vp-767 {
    @media (max-width: ($vp-768 - 1px)) {
      padding: 40px 15px;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.footer__logo {
  display: block;
  outline: none;
  margin-right: 40px;
  cursor: default;

  @include vp-1023 {
    @media (max-width: ($vp-1024 - 1px)) {
      margin-right: 25px;
    }
  }

  @include vp-767 {
    @media (max-width: ($vp-768 - 1px)) {
      margin: 0 0 24px 0;
    }
  }

  @include focus {
    &.focus-visible:focus {
      outline: 2px solid #0092bb;
    }
  }
}

.footer__logo img {
  @include vp-1023 {
    @media (max-width: ($vp-1024 - 1px)) {
      width: 38px;
      height: 32px;
    }
  }

  @include vp-767 {
    @media (max-width: ($vp-768 - 1px)) {
      width: 42px;
      height: 22px;
    }
  }
}

.footer__nav {
  margin-right: auto;
}

.footer__nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include vp-767 {
    @media (max-width: ($vp-768 - 1px)) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.footer__nav-item:not(:last-child) {
  margin-right: 33px;

  @include vp-1023 {
    @media (max-width: ($vp-1024 - 1px)) {
      margin-right: 23px;
    }
  }

  @include vp-767 {
    @media (max-width: ($vp-768 - 1px)) {
      margin: 0 0 13px 0;
    }
  }
}

.footer__nav-item {
  @include vp-767 {
    @media (max-width: ($vp-768 - 1px)) {
      margin: 0 0 24px 0;
    }
  }
}

.footer__nav-item a {
  position: relative;

  @include font(16px, 20px, 500);

  outline: none;
  color: $second-color;
  transition: 0.2s ease-in;

  @include vp-1023 {
    @media (max-width: ($vp-1024 - 1px)) {
      @include font(12px, 15px, 500);
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #005b74;
    transition: width 0.5s;
  }

  &:hover::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: #0092bb;
    transition: width 0.5s;
  }

  @include active {
    &.focus-visible:active {
      color: #04191f;
    }
  }

  @include focus {
    &.focus-visible:focus {
      outline: 2px solid #0092bb;
    }
  }
}
