.header {
  width: 100%;
  z-index: 10;
  position: relative;
}

.header .container {
  display: flex;
  align-items: center;
  padding: 35px 20px;

  @include vp-1023 {
    @media (max-width: ($vp-1024 - 1px)) {
      padding: 30px 45px;
    }
  }

  @include vp-767 {
    @media (max-width: ($vp-768 - 1px)) {
      padding: 20px 15px;
    }
  }
}
