.header {
  width: 100%;
  z-index: 10;
  position: relative;
  background-image: url("../img/background/top-container@1x.jpg");
  background-repeat: no-repeat;
  background-color: #3873bc;
  background-size: cover;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/background/top-container@2x.jpg");
  }

  @include vp-1023 {
    @media (max-width: ($vp-1024 - 1px)) {
      background: url("../img/background/promo-background-tablet@1x.jpg") no-repeat;
      background-size: cover;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/background/promo-background-tablet@2x.jpg");
      }
    }
  }

  @include vp-767 {
    @media (max-width: ($vp-768 - 1px)) {
      background-position: 47% -43px;
      background-size: auto;
    }
  }
}

.header .container {
  display: flex;
  align-items: center;
  padding: 35px 20px 35px 20px;

  @include vp-1023 {
    @media (max-width: ($vp-1024 - 1px)) {
      padding: 30px 45px 30px 45px;
    }
  }

  @include vp-767 {
    @media (max-width: ($vp-768 - 1px)) {
      padding: 0;
    }
  }
}
