.logo {
  display: block;
  cursor: default;
  margin-right: 83px;
  outline: none;

  @include vp-767 {
    padding: 20px 0 0 15px;
  }
}

.nav__overlay-nojs .logo {
  @include vp-767 {
    margin-right: 75%;
  }
}

.nav--open .logo {
  @include vp-767 {
    padding: 0;
    position: absolute;
    top: 20px;
    left: 16.5%;
  }
}

.logo__icon {
  fill: $second-color;

  @include vp-1023 {
    width: 38px;
    height: 20px;
    transition: ease-in-out 0.4s;

    @include vp-767 {
      width: 42px;
      height: 22px;
    }
  }
}

.nav--open .logo__icon {
  @include vp-767 {
    width: 42px;
    height: 22px;
    fill: $primary-color;
  }
}
