.logo {
  display: block;
  margin-right: auto;

  @include vp-767 {
    @media (max-width: ($vp-768 - 1)) {
      padding: 20px 0 0 0;
    }
  }
}

.logo__icon {
  fill: $second-color;

  @include vp-1023 {
    @media (max-width: ($vp-1024 - 1px)) {
      width: 38px;
      height: 20px;
      transition: ease-in-out 0.4s;
    }
  }

  @include vp-767 {
    @media (max-width: ($vp-768 - 1px)) {
      width: 42px;
      height: 22px;

      &--close {
        fill: $second-color;
      }

      &--open {
        fill: $primary-color;
        position: absolute;
        left: 50px;
        z-index: 2;
      }
    }
  }
}
