.logo {
  display: block;
  margin-right: auto;
}

.logo img {
  @include vp-1023 {
    @media (max-width: ($vp-1024 - 1px)) {
      width: 38px;
      height: 20px;
    }
  }

  @include vp-767 {
    @media (max-width: ($vp-768 - 1px)) {
      width: 42px;
      height: 22px;
    }
  }
}
