.nav {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.nav__overlay {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__overlay-nojs {
  @include vp-767 {
    flex-direction: column;
    background: #ffffff;
  }
}

.nav__overlay-nojs .nav__list {
  @include vp-767 {
    display: block;
    flex-direction: column;
    background-color: $second-color;
    width: 89%;
    align-self: flex-end;
    padding: 15px 15px;
  }
}

.nav--open .nav__overlay {
  @include vp-767 {
    background: rgba(0, 43, 102, 0.5);
    width: 100%;
    height: 100vh;
    justify-content: end;
    position: absolute;
    top: 0;
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;

  @include vp-767 {
    display: none;
  }
}

.nav--open .nav__list {
  @include vp-767 {
    display: block;
    overflow-y: scroll;
    padding: 75px 0 0 27px;
    width: 89%;
    height: 100vh;
    background-color: $second-color;
  }
}

.nav__item {
  margin-bottom: 10px;
  padding-top: 10px;

  &:not(:last-child) {
    margin-right: 33px;

    @include vp-1023 {
      margin-right: 23px;
    }
  }
}

.nav--open .nav__item {
  @include vp-767 {
    margin-bottom: 10px;
    width: 100%;
  }
}

.nav__item-link {
  position: relative;
  padding-top: 10px;

  @include font(16px, 20px, 500);

  @include vp-1023 {
    @include font(14px, 17px, 500);
  }

  @include vp-767 {
    @include font(18px, 22px, 500);
    color: $primary-color;
    display: inline-block;
    vertical-align: baseline;
    padding: 10px 0 8px 0;
  }

  color: $second-color;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #005b74;
    transition: width 0.5s;
  }

  &:hover::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: #0092bb;
    transition: width 0.5s;
  }

  @include focus {
    outline: 1px solid #00c8ff;
  }
}

.nav__list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
