.nav {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.nav__overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--open .nav__overlay {
  @include vp-767 {
    @media (max-width: ($vp-768 - 1px)) {
      background: rgba(0, 43, 102, 0.5);
      width: 100%;
      height: 100vh;
      justify-content: end;
    }
  }
}

.nav__list {
  display: flex;

  @include vp-767 {
    @media (max-width: ($vp-768 - 1px)) {
      display: none;
    }
  }
}

.nav--open .nav__list {
  @include vp-767 {
    @media (max-width: ($vp-768 - 1px)) {
      display: flex;
      flex-direction: column;
      padding: 75px 0 0 15px;
      width: 89%;
      height: 100vh;
      background-color: $second-color;
    }
  }
}

.nav__item {
  &:not(:last-child) {
    margin-right: 33px;

    @include vp-1023 {
      @media (max-width: ($vp-1024 - 1px)) {
        margin-right: 23px;
      }
    }
  }
}

.nav--open .nav__item {
  @include vp-767 {
    @media (max-width: ($vp-768 - 1px)) {
      margin-bottom: 10px;
    }
  }
}

.nav__item-link {
  @include font(16px, 20px, 500);

  @include vp-1023 {
    @media (max-width: ($vp-1024 - 1px)) {
      @include font(14px, 17px, 500);
    }
  }

  @include vp-767 {
    @media (max-width: ($vp-768 - 1px)) {
      @include font(18px, 22px, 500);
      color: $primary-color;
      display: inline-block;
      vertical-align: baseline;
      padding: 10px 0 8px 10px;
    }
  }

  color: $second-color;
}

.nav__list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
