.promo__container {
  @include vp-767 {
    padding: 0 0 88px 0;
  }
}

.promo__content {
  padding: 157px 0 247px 14.5%;

  @include vp-1023 {
    padding: 183px 45px 247px 45px;
  }

  @include vp-767 {
    padding: 130px 15px 66px 15px;
  }
}

.promo__content h1 {
  @include font(54px, 66px, 700);

  width: 636px;
  color: $second-color;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 0 13px 0;

  @include vp-1023 {
    @include font(50px, 60.95px, 700);

    width: 589px;
    margin: 0 0 12px 0;
  }

  @include vp-767 {
    @include font(36px, 125%, 700);

    width: 100%;
    margin: 0 0 10px 0;
  }
}

.promo__content p {
  @include font(20px, 24px, 400);

  color: $second-color;
  margin: 0 0 30px 0;
  width: 430px;

  @include vp-1023 {
    @include font(18px, 21.94px, 400);
    margin: 0 0 29px 0;
    width: 387px;
  }

  @include vp-767 {
    @include font(16px, 140%, 400);
    margin: 0 0 25px 0;
    width: 68.7%;
  }
}
